*{
    font-family: "Kode Mono", sans-serif;
}

.card-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.four_zero_four_bg{
    position: relative;
}

.NotFound{
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    margin: 500px 0 0 0;
}

.title-tag{
    z-index: 999;
    position: absolute;
    margin-bottom: 350px;
}


h1{
    font-size: 80px;
    font-weight: 700;
}

h2{
    font-weight: 700;
    font-size: 50px;
}

h4{
    font-size: 20px;
}